@media (max-width:800px){
    div#container{
        width: 90%;
        height: 355px;
        padding: 5%;
    }
    div#score{
        left: 252px;
    }
    div#correct{
        left: 144px;
    }
    div#wrong{
        left: 135px;
    }
    div#question{
        width: 300px;
        height: 100px;
        font-size: 70px;
    }
    div#instruction{
        width: 300px;
    }
    div#choice{
        width: 300px;
        height: 85px;
    }
    .box{
        width: 67px;
        height: 69px;
        margin-right: 10px;
        font-size: 35px;
        line-height: 70px;
    }
    div#startreset{
        margin: 0%;
    }
    div#timer{
        top: 328px;
        left: 150px;
    }
    div#gameover{
        width: 320px;
        height: 171px;
        font-size: 2em;
        top: 79px;
        left: 12px;

    }
}
@media (max-width:360px){
    div#container{
        width: 90%;
        margin-top: 115px;
    }
    div#score{
        left: 252px;
    }
    div#correct{
        left: 165px;
    }
    div#wrong{
        left: 150px;
    }
    div#timer{
        left: 150px;
    }
    div#gameover{
        width: 320px;
    }
}