html{
    height: 100%;
    background: radial-gradient(circle, #fff, #ccc);
}
#container{
    height: 410px;
    width: 600px;
    background-color: #9DD2EA;
    margin: 70px auto;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 4px 0px 0px #009de4;
    -moz-box-shadow: 0px 4px 0px 0px #009de4;
    -webkit-box-shadow: 0px 4px 0px 0px #009de4;
    position: relative;
}
#gamename{
    font-family: cursive;
    font-size: 46px;
    text-align: center;
    text-transform: uppercase;
}
.box {
    width: 220px;
    height: 50px;
    background-color: white;
    margin: 15px;
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 10px;
    border-radius: 3px;
    cursor: pointer;
    box-shadow: 0px 4px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 0px 4px rgba(0, 0, 0, 0.2);
    -webkit-box-shadow: 0px 4px rgba(0, 0, 0, 0.2);
    text-align: center;
    font-size: 25px;
    line-height: 65px;
    transition: all 0.2s;
    -webkit-transition: all 0.2s;
    -moz-transition: all 0.2s;
    -o-transition: all 0.2s;
    text-transform: uppercase;
}
.box:hover {
    background-color: #9C89F6;
    color: white;
    box-shadow: 0px 4px #6b54d3;
    -moz-box-shadow: 0px 4px #6b54d3;
    -webkit-box-shadow: 0px 4px #6b54d3;
}

.box:active {
    box-shadow: 0px 0px #6b54d3;
    top: 4px;
}
#box1{
    margin-top: 30px;
}
.box a{
    text-decoration: none;
    color: black;
}
.box:hover a{
    color: white;
}